.event {
  border-top-color: #e36166 !important;
  border-top-width: 2px !important;
}

.corporate {
  border-top-color: #66c7cb !important;
  border-top-width: 2px !important;
}

.generalmeeting {
  border-top-color: #8789bf !important;
  border-top-width: 2px !important;
}

.techteam {
  border-top-color: #f99157 !important;
  border-top-width: 2px !important;
}

.outreach {
  border-top-color: #ffcc66 !important;
  border-top-width: 2px !important;
}

.mentoring {
  border-top-color: #99cc99 !important;
  border-top-width: 2px !important;
}

.statistic {
  float: right !important;
}

.flex {
  display: flex;
  justify-content: space-between;
}
